<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codish Blog</title>
  <link rel="stylesheet" type="text/css" href="/Challenges/codish-blog/public/stylesheets/jass.css">
  <link rel="stylesheet" type="text/css" href="/Challenges/codish-blog/public/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Welcome to the New Jersey Cherry Blossom Season</h1>
  </header>
  <nav>
    ood</a>
    
    {{#if loggedIn}}
<a href="/dashboard">Home</a>
    <a href="/cherry">Cherry</a>
    <a href="/site">Site</a>

    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}


    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Enjoy the New Jersey top Cherry Blossom Parks!</h2>
    </aside>
    <div class="site">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/Challenges/codish-blog/public/javascript/logout.js"></script>
  {{/if}}
</body>

</html>


